body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: azure;
    /* overflow: hidden; */
}


.navbar {
    height: 6rem !important;
    color: white !important;
    padding: 1rem;
    background-color: #bd5d38 !important;
   
}

.nav-bar-expand {
    height: auto !important;
    color: white !important;
    padding: 1rem !important;
    background-color:#bd5d38 !important;
    transition: all 0.3s linear !important;
}

.navbar a{
    color: white !important;
    font-size: 1.5rem !important;
}

.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
  width: 60% !important;
  margin-left:auto;
}

.navbar-nav a{
    opacity: 0.8 !important;
    color:white !important;
}

.navbar-nav a:hover{
    opacity:1 !important;
}

.cards {
    height: calc(100vh - 12rem);
    overflow-y:auto;
}

.card:hover{
    box-shadow: 3px 3px 7px chocolate;
}

.cards .card {
    height:32rem !important;
    font-size: 1.5rem;
}

.card-body a {
    background-color: #bd5d38;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.footer{
    background-color: #bd5d38 !important;
    position:fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: auto !important;
}

.container{
    font-size: 1.5rem !important;
}

.container a{
    opacity: 0.8 !important;
}

.container a:hover{
    opacity: 1 !important;
}

.card {
    height: 10rem !important;
    
}

@media(max-width: 450px){
    .navbar-brand img{
        display: none !important;
    }
}


